.App {
  text-align: center;
}
header {
    height: 50px;
    display: flex;
    padding: 0 2rem;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background: #fafafa;
}
.head-btn {
  margin-left: 5px;
}

.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 10px;
  margin-right: 1rem;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}
.catalog{
  background: white;
  margin-left: -2%;
 
 }
 .catalog-filters {
     display: block;
     list-style: none;
 }
 .catalog-filter {
     margin-bottom: 1rem;
 }
 .catalog-grid {
     display: flex;
   flex-direction: row;
 }
 .product {
     width: 19%;
     list-style: none;
     margin-left: 15px;
     margin-bottom: 2rem;
 
     transition: box-shadow 0.3s ease;
 }
 .product :hover {
 
     /* padding: 10px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);  */
 }
 .image {
     height: 270px;
 }
 .image-product {
     cursor: pointer;
     width: 90%;
 }
 .product-name {
     cursor: pointer;
     display: block;
     height: 40px;
     margin-bottom: 8px;
     overflow: hidden;
     font-size: 15px;
     line-height: 20px;
     color: var(--global-black);
 }
 .price {
     display: flex;
     flex-direction: row;
     white-space: nowrap;
     justify-content: space-between;
 }
 .product-price {
     color: #f84147;
     font-size: 24px;
 }
 .currency {
     font-size: 17px;
 }
 .delivery {
     color: #00a046;
     font-size: 12px;
 }
 .buy-btn {
     color: white;
     background-color: #00a046;
     border: -0;
     width: 20%;
     cursor: pointer;
     border-radius: 5px;
     font-size: 14px;
 }
 /* .buy-btn:before {
   font-family: FontAwesome;
   content:"\f07a";
   position: absolute;
   top: 11px;
   left: -30px;
   transition: all 200ms ease;
 }
 .buy-btn:hover:before {
   left: 7px;
 } */
 .star-rating {
     border: none;
 }
 .margin-class{
     margin-left: 40%;
 }
 
 
 
 
 /* product */
 
 .buy-container {
     width: 1500px;
     margin: auto;
 }
 
 .product-btn {
     margin-left: 20px;
 }
 .buy {
     height: 40px;
     width: 200px;
 }
 .buy-price {
     color: #f84147;
     font-size: 30px;
 }
 .buy-name {
     cursor: pointer;
     display: block;
     height: 55px;
     margin-bottom: 8px;
     overflow: hidden;
     font-size: 18px;
     line-height: 27px;
     color: var(--global-black);
 }
 .property {
     width: 40%;
     font-size: 14px;
 }